// ******************* BACKGROUND IMAGES *****************************

//desktop
$bg-image-l-day: url('../assets/desktop/bg-image-daytime.jpg');
$bg-image-l-night: url('../assets/desktop/bg-image-nighttime.jpg');

//tablet
$bg-image-md-day: url('../assets/tablet/bg-image-daytime.jpg');
$bg-image-md-night: url('../assets/tablet/bg-image-nighttime.jpg');

//mobile
$bg-image-xs-day: url('../assets/mobile/bg-image-daytime.jpg');
$bg-image-xs-night: url('../assets/mobile/bg-image-nighttime.jpg');